<h1 style="font-size: 5vw; margin-bottom: 0px;">bitident</h1>
<h4 style="margin-top: 0px;">Powered by Metaverse</h4>
<h2>Decentralized Authentication</h2>
<p>
  Bitident enables your users to use a decentralized way to authenticate with your application.
  By using the Metaverse public Blockchain there is no need for a 3rd party to validate your 2 factor
  authentication request. Still your user will be able to use one identity to authenticate to multiple systems
  or create multiple identities for different purposes.
</p>
<p>
  Try our solution by entering your Metaverse Avatar name and create an authentication request. If you don't
  have an Avatar visit <a href="https://myetpwallet.com" target="blank">MyETPWallet</a> download the wallet and
  register your first Digital Identity on the Blockchain.
</p>
<p>
  Bitident authentication relies on digital signatures of Metaverse Avatars private keys. Because the address of
  each Avatar is publicly available on the Blockchain everybody can independently verify the signatures.
</p>
<p>
  We will soon publish our development kit that will enable everybody to easily integrate Metaverse backed
  authentication into every web-based application.
</p>
<a href="https://nodei.co/npm/bitident/"><img
    src="https://nodei.co/npm/bitident.png?downloads=true&downloadRank=true&stars=true"></a>