/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button,
mat-form-field {
    width: 100%;
}
@import '~@angular/material/theming';
@include mat-core();

  $primary: mat-palette($mat-red,600);
  $accent: mat-palette($mat-blue,200);

  $theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

p{
    text-align: justify;
}
h1,
h2,
h3,
h4{
  text-align: center;
}

h1{
  font-size: 20px;
}

.error-message{
  color: #D4483E;
}