.footer {
    background-color: #f6f6f6;
    p {
        color: gray;
    }
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    .icon {
        height: 32px;
        width: auto;
        margin-right: 5px;
    }
    .icon.linkedin{
        filter: invert(0.7);
    }
}
