<div class="footer" fxLayout="row wrap" fxLayoutAlign="space-around">
  <div fxFlex.lt-md="90" fxFlex.gt-sm="45">
    <a href="https://mvs.org">
      <img style="padding-top: 0px; max-width: 400px; width: 100%; height: auto;" src="/assets/img/metaverse.png"
        alt="Metaverse">
    </a>
    <p>Bitident is an open standard for decentralized authentication powered by the <a href="https://mvs.org">Metaverse</a> public Blockchain.</p>
    <a href="https://github.com/bitident" target="blank"><img class="icon" src="/assets/img/github.svg" alt="github"></a>
    <a href="https://www.linkedin.com/company/bitident" target="blank"><img class="icon linkedin" src="/assets/img/linkedin.svg" alt="linkedin"></a>
    
  </div>
  <div fxFlex.lt-md="90" fxFlex.gt-sm="45">
    <p>The software is provided "as is", without warranty of any kind, express or implied, including but not limited to
      the warranties of merchantability, fitness for a particular purpose and noninfringement. in no event shall the
      authors or copyright holders be liable for any claim, damages or other liability, whether in an action of
      contract, tort or otherwise, arising from, out of or in connection with the software or the use or other dealings
      in the software.</p>
    <span>Copyright 2019 bitident. All Rights Reserved.</span>
  </div>
</div>