<div class="footer" fxLayout="row wrap" fxLayoutAlign="space-around">
  <div fxFlex.lt-md="90" fxFlex.gt-sm="45" style="text-align: center">
    <img style="padding-top: 20px; max-width: 400px; width: 100%; height: auto;" src="/assets/metaverse.png"
      alt="Metaverse">
  </div>
  <div fxFlex.lt-md="90" fxFlex.gt-sm="45">
    <p>Metaverse Foundation aims to maintain the normal operation of Metaverse Blockchain and build a complete and
      affluent Metaverse Blockchain Ecosystem. The Foundation’s investment and guidance is based on the development of
      all industrial links derived from the Metaverse Blockchain.</p>
    <span>Copyright 2019 bitident. All Rights Reserved.</span>
  </div>
</div>