.footer {
    background-color: #f6f6f6;
    p {
        color: gray;
    }
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    .icon {
        height: 32px;
        width: auto;
        margin-right: 5px;
        vertical-align: middle;
    }
    .icon.linkedin{
        filter: invert(0.75);
    }
    .icon.mail{
        filter: invert(0.4);
    }
    .icon.mail{
        height: 36px;
        filter: contrast(0.9);
    }
}
