<div *ngIf="!completed; else finished" style="padding-top: 20px; padding-bottom: 10px;">
  <p>Please open your MyETPWallet and use the 2FA option from the menu to scan the generated QR code or enter the
    generated request token.</p>
  <div fxLayout="row wrap" fxLayoutAlign="space-around">
    <div fxFlex.gt-sm="50" fxFlex.sx="100" fxFlex.sm="75" fxFlex.md="100" fxFlex.lg="75" fxFlex.xl="50%">
      <qrcode [qrdata]="token" usesvg="true" [level]="'M'" size="256"></qrcode>
    </div>
  </div>
  <button mat-stroked-button color="secondary" ngxClipboard [cbContent]="token">Copy request to clipboad</button>

  <div style="text-align: center; padding-top: 20px;">waiting for confirmation</div>
  <mat-progress-bar color="primary" mode="query"></mat-progress-bar>
  <div style="text-align: center;">
    <countdown [config]="{ stopTime: (tokenData.time+tokenData.timeout)*1000 }" (finished)="timeout()">
      $!m!m$!s!
    </countdown> remaining
  </div>

</div>
<ng-template #finished>
  <div *ngIf="timedout; else success">
    <h2>Timeout</h2>
  </div>
  <ng-template #success>
    <img src="/assets/img/check.svg" width="50%" alt="Success">
  </ng-template>
</ng-template>
<button mat-raised-button color="primary" (click)="cancel()">{{completed?'Back':'Cancel'}}</button>